<template>
  <v-card>
    <v-card-text>
      <div class="upload-drop-area caption" @click.stop>
        Drag CSV files here or click to select...
      </div>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: 'UploadPanel'
}
</script>
<style lang="scss">
.upload-drop-area {
  border: 1px dashed #fff;
  padding: 40px 10px;
  border-radius: 5px;
  text-align: center;
}
</style>
