<template>
  <v-container>
    <h1 v-if="error.statusCode === 404" v-text="pageNotFound" />
    <h1 v-else v-text="otherError" />
    <NuxtLink to="/">
      Home page
    </NuxtLink>
  </v-container>
</template>
<script>
export default {
  name: 'EmptyLayout',
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  },
  head () {
    const title = this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return { title }
  }
}
</script>
