<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="5">
        <v-card>
          <v-card-text>
            TODO
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="5">
        <v-card>
          <v-card-text>
            TODO
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="2">
        <upload-panel />
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: 'IndexPage'
}
</script>
